@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-brand-primary: #1a365d;
  --color-brand-secondary: #2b6cb0;
  --color-brand-accent: #ed8936;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.video-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
